.sidebar {
  height: 100%;
  width: 20rem;
  /* background-color: #; */
  border-right: 1px solid rgba(5, 5, 5, 0.06);
}

.controllers {
  display: flex;
}

.controllers button {
  flex: 1;
  margin: .5rem;
}

.listOfPrimitives {
  width: 15rem;
  margin: 20px;
}